h1{
    text-align: center;
    padding: 2%;

}

img{
    align-items: center;
    display: flex;
    
}

.container-fluid{
    display: flex;
    justify-content: center;
}

.card{
    margin: 0 7%;
}

footer{
    display: flex;
    text-align: center;
    padding: 1.2%;
    background-color: rgba(135, 155, 180, 0.918);
}